#aboutTop {
    padding-top: 20vh;
    background-color: rgb(239,248,253);
    height: 90vh;
}

#aboutBottom {
    padding-top: 50px;
    text-align: start;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 1.2rem;
    margin-top: -25px;
    text-align: center;
}