#contactFormTop {
    display: grid;
    justify-content: start;
    text-align: start;
    background-image: url('../pictures/contactBackground.png');
    background-size: 100vw;
    height: 100vh;
}

#contactHeading {
    padding-top: 15vh;
    padding-left: 20px;
}