#topHome {
    display: grid;
    height: 100vh;
    background-image: url('../pictures/background.jpeg');
    background-size: 100vw;
    background-repeat: no-repeat;
    padding-top: 165px;
}

#homeBubble {
    background-color: rgb(0, 0, 0, .7);
    height: 55vh;
    width: 45vw;
    margin-top: 10vh;
    margin-left: 5vw;
    border-radius: 2px;
}

#homeBlurb {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    
}

#heading {
    color: rgb(249, 173, 73);
    font-size: 2.3rem;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
}

#frontText {
    color: white;
    margin-top: 0px;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
}

#contactLink {
    text-decoration: none;
}

#homeContact {
    margin-left: 18vw;
    margin-right: 18vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    border: 0px;
    background-color: green;
    transition: .2s;
    margin-top: 10px;
}

#homeContact:hover {
    background-color: rgb(3, 78, 3);
    color: white;
}

@media screen and (max-width: 500px) { 
    #topHome {
        display: grid;
        height: 100vh;
        background-image: url('../pictures/backgroundIOS.png');
        background-size: 100vw;
        background-repeat: no-repeat;
        padding-top: 150px;
    }    

    #homeBubble {
        background-color: rgb(0, 0, 0, .7);
        height: 55vh;
        width: 55vw;
        margin-top: 10vh;
        margin-left: 5vw;
        border-radius: 2px;
    }

    #heading {
        color: rgb(249, 173, 73);
        font-size: 1.4rem;
        text-align: start;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #frontText {
        color: white;
        margin-top: 10px;
        text-align: start;
        padding-left: 10px;
        padding-right: 20px;
        font-size: 1.05rem;
    }

    #homeContact {
        margin-left: 8vw;
        margin-right: 8vw;
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;
        border: 0px;
        background-color: green;
        transition: .2s;
        margin-top: 20px;
        font-weight: bold;
        color: white;
        font-size: 1.02rem;

    }
}