#topHome {
    display: grid;
    height: 100vh;
    background-image: url('../pictures/background.jpeg');
    background-size: 100vw;
    background-repeat: no-repeat;
    padding-top: 165px;
}

#homeBubble {
    background-color: rgb(0, 0, 0, .7);
    height: 55vh;
    width: 45vw;
    margin-top: 10vh;
    margin-left: 5vw;
    border-radius: 2px;
}

#homeBlurb {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    
}

#heading {
    color: rgb(249, 173, 73);
    font-size: 2.3rem;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Oswald', sans-serif;
}

#frontText {
    color: white;
    margin-top: 0px;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

#contactLink {
    text-decoration: none;
}

#quote {
    background-color: rgb(249, 173, 73);
    border: 0px;
}

#callUs {
    border: 0px;
    background-color: rgb(207,220,235);
}

.homeContact {
    padding: 15px;
    font-weight: bold;
    font-size: .9rem;
    font-family: 'Sofia Sans', sans-serif;
}


#buttonDiv {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 1vw;
    padding-top: 10px;
}

@media screen and (max-width: 500px) { 
    #topHome {
        display: grid;
        height: 100vh;
        background-image: url('../pictures/backgroundIOS.png');
        background-size: 100vw;
        background-repeat: no-repeat;
        padding-top: 130px;
    }    

    #homeBubble {
        background-color: rgb(0, 0, 0, .7);
        height: 65vh;
        width: 55vw;
        margin-top: 5vh;
        margin-left: 5vw;
        border-radius: 2px;
    }

    #heading {
        color: rgb(249, 173, 73);
        font-size: 1.4rem;
        text-align: start;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #frontText {
        color: white;
        margin-top: 10px;
        text-align: start;
        padding-left: 10px;
        padding-right: 20px;
        font-size: 1.05rem;
    }

    #homeContact {
        margin-left: 8vw;
        margin-right: 8vw;
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;
        border: 0px;
        background-color: green;
        transition: .2s;
        margin-top: 20px;
        font-weight: bold;
        color: white;
        font-size: 1.02rem;

    }
}

@media screen and (max-width: 395px) { 
    #frontText {
        color: white;
        margin-top: 10px;
        text-align: start;
        padding-left: 10px;
        padding-right: 20px;
        font-size: 1rem;
    }

    #homeBubble {
        height: 71vh;
        margin-top: 0vh;   
    }
}