#topProjects {
    background-color: rgb(246,247,249);
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
}

#comingsoonpic {
    padding-top: 15vh;
    height: 55%;
    width: auto;
}