#topbar {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    justify-content: end;
    background-color: rgb(249, 173, 73);
    padding-top: 10px;
    font-size: .9rem;
    width: 100vw;
    border-bottom: 1px solid rgb(180, 179, 179);
    position: fixed;
}

#phoneNumber {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
}

#phoneNumberShow {
    margin-top: 3px;
}

#emailShow {
    margin-top: 3px;
    padding-right: 10px;
}

#email {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
}

.contactpic {
    height: 25px;
    width: 25px;
}

