html {
    scroll-behavior: smooth;
}

#wholebar {
    display: grid;
    grid-template-columns: 30vw 70vw;
    background-color: rgb(239,248,254, .98);
    position: fixed;
    /* top: 5px;4 */
    z-index: 1;
    border-bottom: 1px solid rgba(204, 205, 206, 0.2);
    font-family: 'Cabin', sans-serif;
}

#leftside {
    text-align: start;
    font-size: .9rem;
    padding-left: 50px;
}

#rightside {
    display: grid;
    padding-top: 12px;
    grid-template-columns: auto auto auto auto auto auto;
    font-size: .7rem;
    justify-content: end;
    column-gap: 3vw;
}

.linkFormat {
    text-decoration: none;
    color: black;
}

#navscroll {
    scroll-behavior: smooth;
    text-decoration: none;
    color: black;
    transition: .3s;
}

.dropdown-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 85%;
    left:-20px;
    width: 126%;
    padding-left: 7%;
    transform: translateY(0);
    z-index: -1;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    text-align: start;
    padding-right: 6%;
    text-decoration: none;
    border-radius: 2px;
}

.items:focus .dropdown-menu,
.items:focus-within .dropdown-menu,
.items:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
    background-color: rgb(239,248,254, .98)
}


#socials {
    padding-bottom: .0001px;
    z-index: 1;
    position: relative;
    text-decoration: none;
}

.socialItems {
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin-top: -10px;
}

.socialItems:hover {
    color: rgb(26, 116, 195);
}

li {
    list-style-type: none;
}

#phoneNumber {
    background-color: rgb(249, 173, 73, .8);
    margin-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
    transform: .2s;
}

#phoneNumber:hover {
    background-color: rgb(249, 173, 73);

}

.btn {
    display: none; 
    position: absolute;
    height: 27px;
    width: auto;
    right: 10px;
    top: 7px;
    padding: 15px;
    color: black;
    font-size: 18px;
}

@media screen and (max-width: 500px) { 
    .btn {
        display: block;
    }

    #rightside {
        display: grid;
        grid-template-columns: auto;
        justify-content: start;
        text-align: center;
        height: auto;
        margin-top: 55px;
        width: 100vw;
        margin-left: 6vw;
    }

    #leftside {
        text-align: start;
        font-size: .9rem;
        padding-left: 25px;
    }


    #phoneNumber {
        background-color: rgb(249, 173, 73, .8);
        margin-bottom: 12px;
        padding-left: 15px;
        padding-right: 1px;
        border-radius: 2px;
        transform: .2s;
    }

    .dropdown-menu {
        display: none;
    }

}