#item {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 4vh;
}

#itemLeft {
    text-align: start;
    /* border: 1px solid whitesmoke;
    background-color: whitesmoke; */
    /* margin-right: 5vw; */
    padding: 1vh;
    border-radius: 10px;
}

#contentParentLeft {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
}

.itemHeadingL {
    padding-left: 20px;
}

#itemTextL {
    padding-left: 20px;
}

#itemRight {
    text-align: start;
    /* border: 1px solid whitesmoke;
    background-color: whitesmoke; */
    /* margin-left: 5vw; */
    padding: 1vh;
    border-radius: 10px;
}

#contentParentRight {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
}

.itemHeadingR {
    padding-right: 20px;
    text-align: end;
}

#itemTextR {
    padding-right: 20px;
}

.previewPic {
    height: 220px;
    width: auto;
}