#item {
    display: grid;
    grid-template-rows: auto auto auto auto;
    font-family: 'Oswald', sans-serif;
}

.itemLeft {
    text-align: start;
    /* border: 1px solid whitesmoke;
    background-color: whitesmoke; */
    /* margin-right: 5vw; */
    padding: 1vh;
    border-radius: 10px;
    margin-top: -50px;
}

#contentParentLeft {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
}

.itemHeadingL {
    /* padding-left: 20px; */
    padding-top: 100px;
}

#itemTextL {
    padding-left: 0px;
}

.itemRight {
    text-align: start;
    /* border: 1px solid whitesmoke;
    background-color: whitesmoke; */
    /* margin-left: 5vw; */
    padding: 1vh;
    border-radius: 10px;
    margin-top: -50px;
}

#contentParentRight {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
}

.itemHeadingR {
    padding-right: 20px;
    text-align: end;
    padding-top: 100px;
}

#itemTextR {
    padding-right: 20px;
}

.previewPic {
    height: 220px;
    width: auto;
}

#leftline {
    margin-top: 125px;
    width: 33%;
}

#noline {
    display: none;
}

@media screen and (max-width: 500px) { 

    .itemLeft {
        text-align: center;
        padding: 0vh;
        border-radius: 10px;
        margin-top: -50px;
    }

    #itemTextL {
        padding-left: 0px;
    }

    #contentParentLeft {
        display: grid;
        grid-template-columns: auto;
        column-gap: 5vw;   
        row-gap: 5vh;
        text-align: center;
    }

    .itemRight {
        text-align: start;
        padding: 0vh;
        border-radius: 10px;
        margin-top: -50px;
    }

    #itemTextR {
        padding-right: 0px;
    }

    #contentParentRight {
        display: grid;
        grid-template-columns: auto;
        column-gap: 5vw;
        row-gap: 5vh;
        text-align: center;
    }

    .itemHeadingL {
        text-align: center;
        padding-top: 90px;
        font-size: .9rem;
    }

    #leftline {
        margin-top: 90px;
        width: 45%;
    }

    .itemHeadingR {
        text-align: center;
        padding-top: 90px;
        padding-bottom: 20px;
    }

    .previewPic {
        height: 200px;
        width: 310px;
    }
}

@media screen and (max-width: 395px) { 
    .itemLeft {
        text-align: center;
        padding: 0vh;
        border-radius: 10px;
        margin-top: -50px;
    }
}