#InfoTop {
    background-color: rgb(239,248,253);
    height: 325vh;
}

#BottomHeading {
    padding-top: 5vh;
}

#InfoList {
    padding-top: 5vh;
    padding-left: 20vh;
    padding-right: 20vh;
}

@media screen and (max-width: 500px) { 
    #InfoTop {
        width: 100vw;
        height: 365vh;
    }

    #InfoList {
        padding-top: 5vh;
        padding-left: 2vh;
        padding-right: 2vh;
    }
}