#item {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.itemLeft {
    text-align: start;
    /* border: 1px solid whitesmoke;
    background-color: whitesmoke; */
    /* margin-right: 5vw; */
    padding: 1vh;
    border-radius: 10px;
    margin-top: -50px;
}

#contentParentLeft {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
}

.itemHeadingL {
    padding-left: 20px;
    padding-top: 100px;
}

#itemTextL {
    padding-left: 20px;
}

.itemRight {
    text-align: start;
    /* border: 1px solid whitesmoke;
    background-color: whitesmoke; */
    /* margin-left: 5vw; */
    padding: 1vh;
    border-radius: 10px;
    margin-top: -50px;
}

#contentParentRight {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
}

.itemHeadingR {
    padding-right: 20px;
    text-align: end;
    padding-top: 100px;
}

#itemTextR {
    padding-right: 20px;
}

.previewPic {
    height: 220px;
    width: auto;
}

#leftline {
    margin-top: 125px;
    width: 33%;
}

#noline {
    display: none;
}